@use './styles/colors' as colors;
@use './styles/mixins' as mixins;

@import 'pdfjs-dist/web/pdf_viewer.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include colors.define-color-vars();

/* Base global styles */

*,
*::before,
*::after {
  @apply box-border;
}

:root {
  background-color: mixins.color('ink-950');
}

html,
body {
  @apply m-0 w-full min-h-full overflow-hidden;
  background-color: mixins.color('ink-950');
}

body {
  font-family: mixins.$font-sans;
  color: mixins.color('steel-100');
}
